<nav class="lazlo-pagination" aria-label="Product pagination">

    <!-- Previous -->
    <a href="#" class="lazlo-pagination__arrow lazlo-pagination__previous" aria-label="Previous page">

        <svg viewBox="0 0 24 24" aria-hidden="true">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>

    </a>


    <!-- Pages -->
    <div class="lazlo-pagination__pages">

        <a href="#" class="lazlo-pagination__page active" aria-current="page">
            1
        </a>

        <a href="#" class="lazlo-pagination__page">
            2
        </a>

        <a href="#" class="lazlo-pagination__page">
            3
        </a>

        <span class="lazlo-pagination__dots">
            ...
        </span>

        <a href="#" class="lazlo-pagination__page">
            10
        </a>

    </div>


    <!-- Next -->
    <a href="#" class="lazlo-pagination__arrow lazlo-pagination__next" aria-label="Next page">

        <svg viewBox="0 0 24 24" aria-hidden="true">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>

    </a>

</nav>