---
permalink: /single/
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lazlo — Better Tech, Smarter Choices</title>
    <meta name="description" content="Discover better laptops, smarter accessories, and the best tech deals.">
</head>

<body>

    {% include '../components/header-component-1/header.html' %}

    <main>

        {% include '../components/single-product-1/single-product.html' %}

    </main>

    {% include '../components/footer-component-1/footer.html' %}

    <script type="module" src="/js/main.js"></script>

</body>

</html>